// $primary-color: wheat;



// body{
//     background-color: $primary-color;
    
// }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8px;
    background-color: #5d4955;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}